# Binaries for programs and plugins
*.exe
npulse-watcher

# Exclude
/secrets/*
/.vscode/*

# Exception to the rule
!/secrets/.gitkeep

# godotenv file
.env

# go.work
go.work
go.work.sum

# Dependency directories (remove the comment below to include it)
vendor/

# Local scripts
scripts/
